<!DOCTYPE html>
<html lang="en">
<head>
    {% include "head.html"%}

    <title>{{ article["meta-title"] }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/blog_article.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/bottom_page_cta.css') }}"/>
    <meta name="description" content= "{{ article['meta-description'] }}">
    <meta name=”robots” content="index, follow">
</head>
<body>
{% include "header.html"%}
<div class="site-wrapper">
    <article>
        <div class="blog-header">
            <h1>{{ article["title"] }}</h1>
            <p class="article-date">{{ article["date"] }}</p>
            <img src="{{ article['hero-image-url'] }}" alt="" class="hero-image">
        </div>
        <div class="blog-body">
            {{ article["article"] | safe }}
        </div>
    </article>
    {% include "bottom_page_cta.html" %}
    {% include "footer.html" %}
</div>
</body>
<script src="{{url_for('static', filename='js/header.js')}}"></script>
</html>
