<!DOCTYPE html>
<html lang="en">
<head>
    {% include "head.html"%}

    <title>{{ article["meta-title"] }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/blog_article.css') }}"/>
    <meta name="description" content= "{{ article['meta-description'] }}">
    <meta name=”robots” content="index, follow">
</head>
<body>
{% include "header.html"%}
<div class="site-wrapper">
    <article>
        <section class="blog-header">
          <h1>{{ article["title"] }}</h1>
          <img src="{{ article['hero-image-url'] }}" alt="" class="hero-image">
        </section>
        <section class="blog-body">
            {{ article["article"] | safe }}
        </section>
    </article>
    {% include "footer.html" %}
</div>
</body>
<script src="{{url_for('static', filename='js/index.js')}}"></script>
<script src="{{url_for('static', filename='js/header.js')}}"></script>
</html>
