<!DOCTYPE html>
<html lang="en">
<head>
    {% include "head.html"%}

    <title>Blog - Mon Educateur Canin</title>
    <meta name="description" content="Le meilleur moyen de trouver un éducateur canin partout en France">
    <meta name=”robots” content="index, follow">

    <!--    Facebook tags-->
    <meta property="og:url" content="https://www.mon-educateur-canin.com/blog"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Blog - Mon Educateur Canin"/>
    <meta property="og:description" content="Le meilleur moyen de trouver un éducateur canin partout en France"/>
    <meta property="og:image" content="https://i.imgur.com/ryQpV5J.jpg"/>


    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/blog_page.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/blog_preview_card.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/bottom_page_cta.css') }}"/>
</head>
<body>
{% include "header.html"%}
<div class="site-wrapper">
    <div class="blog-page-container">
        <div class="blog-page-header-container">
            <div class="blog-page-header">
                <h1>Nos Conseils</h1>
            </div>
        </div>
        <div class="blog-page-grid-container">
            <div class="blog-page-grid">
                {% for url, blog in blogs.items() %}
                <div class="blog-article">
                    <img src="{{ blog['hero-image-url'] }}" alt="">
                    <div class="blog-details">
                        <h3 class="blog-title">{{ blog['title'] }}</h3>
                        <p class="blog-description">{{ blog['meta-description'] }}</p>
                        <a class="blog-read-more-button" href="/blog/{{ blog['url'] }}">
                            <span class="blog-link">Lire l'article</span>
                            <!--                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"/></svg>-->
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {% include "bottom_page_cta.html" %}
    {% include "footer.html" %}
</div>
</body>
<script src="{{url_for('static', filename='js/header.js')}}"></script>
</html>