<!DOCTYPE html>
<html lang="fr">
<head>
    {% include "head.html"%}

    <title>Contact - Mon éducateur canin : trouver le bon éducateur pour votre chien</title>
    <meta name="description"
          content="Vous souhaitez un renseignement sur l’éducation canine ou pour être référencé sur Mon éducateur canin ? Contactez - nous.">
    <meta name=”robots” content="index, follow">

    <!--    Facebook tags-->
    <meta property="og:url" content="https://www.mon-educateur-canin.com/"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Contact - Mon éducateur canin : trouver le bon éducateur pour votre chien"/>
    <meta property="og:description"
          content="Vous souhaitez un renseignement sur l’éducation canine ou pour être référencé sur Mon éducateur canin ? Contactez - nous. "/>
    <meta property="og:image" content="https://i.imgur.com/ryQpV5J.jpg"/>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/contact.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/bottom_page_cta.css') }}"/>
</head>
<body>
{% include "header.html"%}
<div class="site-wrapper">
    <main>
        <div class="contact-form-header-container">
            <div class="contact-form-header">
                <h1>Contact</h1>
                <p>
                    Vous souhaitez en savoir plus sur comment éduquer votre chien ou votre chiot ? Vous êtes un
                    éducateur
                    canin et vous aimeriez être référencé au sein de Mon éducateur canin ? N’hésitez pas à nous
                    contacter !
                </p>
            </div>
        </div>
        <form action="/contact" method="post">
            <div class="form-field">
                <input type="text" name="name" id="name" placeholder="nom" required>
                <label for="name">Nom complet</label>
                <span></span>
            </div>
            <div class="form-field">
                <select name="profession" id="profession">
                    <option>Éducateur canin</option>
                    <option>Particulier</option>
                    <option>Autre (préciser)</option>
                </select>
                <label for="profession">Vous êtes un:</label>
                <span></span>
            </div>
            <div class="form-field">
                <input type="email" name="email" id="email" placeholder="email" required>
                <label for="email">Email</label>
                <span></span>
            </div>
            <div class="form-field">
                <input type="text" name="phone" id="phone" placeholder="téléphone" required>
                <label for="phone">Téléphone</label>
                <span></span>
            </div>
            <div class="form-field form-message">
                <textarea name="message" id="message" placeholder="message" required></textarea>
                <label for="message">Votre message</label>
            </div>
            <input type="submit" value="Envoyer">
        </form>
    </main>
    {% include "bottom_page_cta.html"%}
    {% include "footer.html"%}
</div>
<script src="{{url_for('static', filename='js/header.js')}}"></script>
</body>
</html>