<!DOCTYPE html>
<html lang="fr">
<head>
    {% include "head.html"%}

    <title>Contact - Mon éducateur canin : trouver le bon éducateur pour votre chien</title>
    <meta name="description"
          content="Vous souhaitez un renseignement sur l’éducation canine ou pour être référencé sur Mon éducateur canin ? Contactez - nous.">
    <meta name=”robots” content="index, follow">

    <!--    Facebook tags-->
    <meta property="og:url" content="https://www.mon-educateur-canin.com/"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Contact - Mon éducateur canin : trouver le bon éducateur pour votre chien"/>
    <meta property="og:description"
          content="Vous souhaitez un renseignement sur l’éducation canine ou pour être référencé sur Mon éducateur canin ? Contactez - nous. "/>
    <meta property="og:image" content="https://i.imgur.com/ryQpV5J.jpg"/>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/contact.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/bottom_page_cta.css') }}"/>

    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script>
        function onSubmit(token) {
            document.getElementById("contact-form").submit();
        }
    </script>
</head>
<body>
{% include "header.html"%}
<div class="site-wrapper">
    <main>
        <div class="contact-form-header-container">
            <div class="contact-form-header">
                <h1>Contact</h1>
                <p>
                    Vous souhaitez en savoir plus sur comment éduquer votre chien ou votre chiot ? Vous êtes un
                    éducateur
                    canin et vous aimeriez être référencé au sein de Mon éducateur canin ? N’hésitez pas à nous
                    contacter !
                </p>
            </div>
        </div>
        <form method="POST" id="contact-form" name="contact-form" action="{{ url_for('contact') }}"
              class=" needs-validation">
            {{ form.csrf_token }}
            <div class="form-field">
                {{ form.name(class_="form-control") }}
                {{ form.name.label(class_="form-label") }}
            </div>
            <div class="form-field">
                {{ form.profession(class_="form-control") }}
                {{ form.profession.label(class_="form-label") }}
            </div>
            <div class="form-field">
                {{ form.email(class_="form-control") }}
                {{ form.email.label(class_="form-label") }}
            </div>
            <div class="form-field">
                {{ form.phone(class_="form-control") }}
                {{ form.phone.label(class_="form-label") }}
            </div>
            <div class="form-field">
                {{ form.message(class_="form-control message-field") }}
                {{ form.message.label(class_="form-label") }}
            </div>

            <button type="submit" class="g-recaptcha" data-sitekey="{{ site_key }}"
                    data-callback='onSubmit' data-action='submit'>Envoyer
            </button>
        </form>
    </main>
    {% include "bottom_page_cta.html"%}
    {% include "footer.html"%}
</div>
<script src="{{url_for('static', filename='js/header.js')}}"></script>
</body>
</html>