<!DOCTYPE html>
<html lang="en">
<head>
    {% include "head.html"%}

    <title>Les Educateurs à {{ region }} - Mon Educateur Canin</title>

    <meta name="description" content= "Le meilleur moyen de trouver un éducateur canin à {{ region }}">
    <meta name=”robots” content="index, follow">

<!--    Facebook tags-->
    <meta property="og:url" content="https://www.mon-educateur-canin.com/éducateurs/region/{{ region }}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Mon Educateur Canin à {{ region}}" />
    <meta property="og:description" content="Le meilleur moyen de trouver un éducateur canin à {{ region }}" />
    <meta property="og:image" content="https://i.imgur.com/ryQpV5J.jpg" />

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/educateurs_list_style.css') }}"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.2/dist/leaflet.css"
     integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14="
     crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js"
     integrity="sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg="
     crossorigin=""></script>

</head>
<body>
    {% include "header.html"%}
    <div class="site-wrapper">
        <div class="region-search-container">
            <div class="region-search">
                <h1>Découvrir les éducateurs canins à {{ region }}</h1>
<!--                <div class="display-map-button">Cacher la carte</div>-->
                <div class="search-around-me-button">Chercher autour de moi</div>
            </div>
        </div>
        <div class="map-container">
            <div id="map"></div>
        </div>
        <div class="educateurs-container">
        <div class="educateurs-grid" >
            {% for id, educateur in first_6_results.items() %}
                <div class="educateur" data-id="{{ id }}">
                    <div class="educateur-bio">
                        <img src="{{ educateur['image'] }}" alt="">
                        <p class="educateur-name">{{ educateur['name'] }}</p>
                    </div>
                    <div class="educateur-details">
                        <p class="educateur-address">📍{{ educateur['address'] }}</p>
                        <p class="educateur-review">{{ educateur['googleReviews']|safe }}</p>
                        <div class="educateur-buttons">
                            <a class="educateur-button educateur-page" href="{{url_for('educateur_page', educateur_id=id) }}">En savoir plus</a>
                            <a class="educateur-button educateur-website" href="{{ educateur['website'] }}" target="_blank">Voir le site</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
    <!--            {% for id, educateur in remaining_results.items() %}-->
    <!--                <div class="educateur hidden" data-id="{{ id }}">-->
    <!--                    <div class="educateur-bio">-->
    <!--                        <img src="{{ educateur['image'] }}" alt="">-->
    <!--                        <p class="educateur-name">{{ educateur['name'] }}</p>-->
    <!--                    </div>-->
    <!--                    <div class="educateur-details">-->
    <!--                        <p class="educateur-address">📍{{ educateur['address'] }}</p>-->
    <!--                        <p class="educateur-review">{{ educateur['googleReviews']|safe }}</p>-->
    <!--                        <div class="educateur-buttons">-->
    <!--                            <a class="educateur-button educateur-page" href="{{url_for('educateur_page', educateur_id=id) }}">En savoir plus</a>-->
    <!--                            <a class="educateur-button educateur-website" href="{{ educateur['website'] }}" target="_blank">Voir le site</a>-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            {% endfor %}-->
        </div>
        {% if remaining_results %}
            <a class="see-all-educateurs" href="/educateurs">Voir tous les éducateurs à {{ region }}</a>
        {% endif %}
        {% if region == "Paris" %}
            <div class="region-details-container">
                <div class="region-details">
                    <h3>Trouver un éducateur canin à Paris</h3>
                    <p>A Paris, on trouve plus de 300 000 chiens. Tous les jours nous en croisons !</p>
                    <p>Si vous habitez Paris ou la région Parisienne vous pourrez sûrement trouver un éducateur canin qui correspond à vos besoins et à ceux de votre chien.</p>
                    <p>Un éducateur canin sera là pour vous aider à transformer votre relation avec votre chien pour obtenir la plus belle des complicités.</p>
                    <p>Grâce aux éducateurs canins formés à des méthodes respectueuses de nos amis les chiens, vous pourrez obtenir un parcours d'apprentissage sur mesure. L'éducateur canin pourra répondre à toutes vos questions sur le dressage et les exercices à effectuer avec votre chien ou votre chiot.</p>
                </div>
            </div>
        {% endif %}
        {% if region == "Lyon" %}
            <div class="region-details-container">
                <div class="region-details">
                    <h3>Trouver un éducateur canin à Lyon</h3>
                    <p>Saviez-vous que les chiens nous accompagnent depuis plus de 12 000 ans ? Ce n'est pas pour rien que c'est le meilleur ami de l'Homme !</p>
                    <p>Un chien ou un chiot grandi très vite. Si vous souhaitez passer des moments encore plus agréables avec votre chien ou votre chien. C’est là qu'un éducateur canin renforcera votre lien entre vous et votre chien. Si vous arrivez à interprêter votre chien ou votre chiot, et que lui aussi saura vous comprendre, vous aller développer la complicité avec votre meilleur ami, votre chien.</p>
                    <p>Où que vous habitiez à Lyon ou en région Lyonnaise, vous trouverez sûrement un éducateur canin qui répondra à votre besoin et celui de votre chien !</p>
                    <p>Les éducateurs canins aujourd'hui utilisent les meilleures méthodes d'éducation canine et de dressage de chien. Tout en respectant le chien, il vous apprendra les ordres de base à effectuer avec votre chien ou votre chiot mais aussi des ordres plus difficiles par la suite. N'hésitez pas à contacter un éducateur canin, il pourra très certainement vous aider à comprendre votre chien.</p>
                </div>
            </div>
        {% endif %}
    </div>
    {% include "footer.html"%}
    </div>
</body>

<script type="text/javascript">
    const database = {{ all_results|tojson }}
</script>
<script src="{{url_for('static', filename='js/script_educateurs_list.js')}}"></script>
<script src="{{url_for('static', filename='js/header.js')}}"></script>
</html>


