<!DOCTYPE html>
<html lang="en">
<head>
    {% include "head.html"%}

    <title>Mon Educateur Canin - {{ educateur['name'] }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/educateur_page_style.css') }}"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.2/dist/leaflet.css"
     integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14="
     crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js"
     integrity="sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg="
     crossorigin=""></script>

</head>
    <body>
    {% include "header.html"%}
        <div class="educateur-page-header">
            <h1>{{ educateur['name'] }}</h1>
            <p class="educateur-review">{{ educateur['googleReviews']|safe }}</p>
            <img src="{{ educateur['image'] }}" alt="">
            <a href="{{ educateur['website'] }}" target="_blank">Voir le site</a>
        </div>
        <div class="educateur-page-body">
            <div class="description-section">
                <p class="label">A propos de {{ educateur['name'] }}:</p>
                <p class="description">{{ educateur['description'] }}</p>
            </div>
            <div class="details-section">
                <h2>Les points essentiels de l'éducateur canin</h2>
                <div class="details-container">
                    <div class="detail address-container">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                            <path d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 256c-35.3 0-64-28.7-64-64s28.7-64 64-64s64 28.7 64 64s-28.7 64-64 64z"/>
                        </svg>
                        <p class="label">Adresse:</p>
                        <p class="detail">{{ educateur['address'] }}</p>
                    </div>
                    <div class="detail phone-number-container">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                            <path d="M164.9 24.6c-7.7-18.6-28-28.5-47.4-23.2l-88 24C12.1 30.2 0 46 0 64C0 311.4 200.6 512 448 512c18 0 33.8-12.1 38.6-29.5l24-88c5.3-19.4-4.6-39.7-23.2-47.4l-96-40c-16.3-6.8-35.2-2.1-46.3 11.6L304.7 368C234.3 334.7 177.3 277.7 144 207.3L193.3 167c13.7-11.2 18.4-30 11.6-46.3l-40-96z"/>
                        </svg>
                        <p class="label">Téléphone:</p>
                        <p class="detail">{{ educateur['phone'] }}</p>
                    </div>
                    <div class="detail google-reviews-container">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                            <path d="M232 120C232 106.7 242.7 96 256 96C269.3 96 280 106.7 280 120V243.2L365.3 300C376.3 307.4 379.3 322.3 371.1 333.3C364.6 344.3 349.7 347.3 338.7 339.1L242.7 275.1C236 271.5 232 264 232 255.1L232 120zM256 0C397.4 0 512 114.6 512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256C0 114.6 114.6 0 256 0zM48 256C48 370.9 141.1 464 256 464C370.9 464 464 370.9 464 256C464 141.1 370.9 48 256 48C141.1 48 48 141.1 48 256z"/>
                        </svg>
<!--                        TODO: add table of hours-->
                        <p class="label">Horaires:</p>
                        <p class="detail"></p>
                    </div>
                </div>
            </div>
            <div class="map-section">
                <div id="map"></div>
            </div>
<!--            TODO: link to blog articles-->
        </div>
        {% include "footer.html"%}
    </body>

<script type="text/javascript">
    const educateur = {{educateur|tojson}}
</script>

<script src="{{url_for('static', filename='js/script_educateur_page.js')}}"></script>
</html>