<!DOCTYPE html>
<html lang="en">
<head>
    {% include "head.html"%}

    <title>Mon Educateur Canin - Les Educateurs</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/educateurs_list_style.css') }}"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.2/dist/leaflet.css"
     integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14="
     crossorigin=""/>
    <script defer src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js"
     integrity="sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg="
     crossorigin=""></script>

</head>
<body>
    {% include "header.html"%}
        <div class="site-wrapper">
        <div class="department-search-container">
            <div class="department-search">
                <h1>Trouver un éducateur proche de chez vous</h1>
                <form action="/educateurs" method="post" class="form">
                    <input type="text" name="department" id="department" placeholder="Rechercher par département" size="20" required>
                    <input type="submit" value="Rechercher"/>
                </form>
                {% if is_filtered %}
                    <a href="{{ url_for('educateurs_list') }}" class="see-all-departments-button">
                        <p>Voir tous les éducateurs</p>
                    </a>
                {% endif %}
<!--                <div class="display-map-button">Cacher la carte</div>-->
                <div class="search-around-me-button">Chercher autour de moi</div>
            </div>
        </div>
        <div class="map-container">
            <div id="map"></div>
        </div>
        <div class="educateurs-container">
            <div class="educateurs-grid" >
                {% for id, educateur in first_results.items() %}
                    <div class="educateur" data-id="{{ id }}">
                        <div class="educateur-bio">
                            <img src="{{ educateur['image'] }}" alt="">
                            <p class="educateur-name">{{ educateur['name'] }}</p>
                        </div>
                        <div class="educateur-details">
                            <p class="educateur-address">📍{{ educateur['address'] }}</p>
                            <div class="educateur-review">{{ educateur['googleReviews']|safe}}</div>
                            <div class="educateur-buttons">
                                <a class="educateur-button educateur-page" href="{{url_for('educateur_page', educateur_id=id) }}">En savoir plus</a>
                                <a class="educateur-button educateur-website" href="{{ educateur['website'] }}" target="_blank">Voir le site</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {% for id, educateur in remaining_results.items() %}
                    <div class="educateur hidden" data-id="{{ id }}">
                        <div class="educateur-bio">
                            <img src="{{ educateur['image'] }}" alt="">
                            <p class="educateur-name">{{ educateur['name'] }}</p>
                        </div>
                        <div class="educateur-details">
                            <p class="educateur-address">📍{{ educateur['address'] }}</p>
                            <div class="educateur-review">{{ educateur['googleReviews']|safe}}</div>
                            <div class="educateur-buttons">
                                <a class="educateur-button educateur-page" href="{{url_for('educateur_page', educateur_id=id) }}">En savoir plus</a>
                                <a class="educateur-button educateur-website" href="{{ educateur['website'] }}" target="_blank">Voir le site</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
            <button class="see-all-educateurs">Voir tous les éducateurs</button>
        {% include "footer.html"%}
    </div>
</body>

<script type="text/javascript">
    const database = {{database | tojson}}
</script>
<script defer src="{{url_for('static', filename='js/script_educateurs_list.js')}}"></script>
<script src="{{url_for('static', filename='js/header.js')}}"></script>
</html>

