<footer class="footer-wrapper">
    <div class="columns-wrapper">
        <div class="column column-1">
            <a href="{{ url_for('home') }}">
                <img class="footer-logo" src="{{ url_for('static',filename='assets/logo.png') }}" alt=""/>
            </a>
            <p>
                Le meilleur moyen de trouver votre éducateur canin, partout en France.
            </p>
        </div>
        <div class="column column-2">
<!--            <p class="label">Les éducateurs par région</p>-->
            <a href="/educateurs">Voir tous les éducateurs</a>
            <a href="/educateurs/region/Paris">Educateurs à Paris</a>
            <a href="/educateurs/region/Lyon">Educateurs à Lyon</a>
            <a href="/blog">Blog</a>
        </div>
        <div class="column column-3">
<!--            <p class="label">Navigation</p>-->
            <a href="/contact">Contact</a>
            <a href="/mentions-légales">Mentions légales</a>
            <a href="/">Suivez-nous sur Facebook</a>
        </div>
    </div>
    <div class="copyrights">
        <span>© 2022 Mon Educateur Canin</span>
    </div>
</footer>