<footer class="footer-wrapper">
    <div class="columns-wrapper">
        <div class="column column-1">
            <a href="{{ url_for('home') }}">
                <img class="footer-logo" src="{{ url_for('static',filename='assets/logo.png') }}"
                     alt="Mon éducateur canin - logo"/>
            </a>
            <p>
                L’annuaire des éducateurs canins en France.
            </p>
        </div>
        <div class="column column-2">
            <p class="label">Les éducateurs canins :</p>
            <a href="/educateurs">Voir tous les éducateurs canins</a>
            <a href="/educateurs/region/Paris">Éducateurs canins à Paris</a>
            <a href="/educateurs/region/Lyon">Éducateurs canins à Lyon</a>
        </div>
        <div class="column column-3">
            <!--            <p class="label">Navigation</p>-->
            <a href="/educateur-canin">Notre Métier</a>
            <a href="/conseils">Conseils</a>
            <a href="/contact">Contact</a>
            <a href="https://www.facebook.com/Mon-%C3%A9ducateur-canin-110465995243968/" target="_blank">Suivez-nous sur
                Facebook</a>
        </div>
    </div>
    <div class="copyrights">
        <span>© 2023 Mon éducateur canin | </span>
        <a href="/mentions-légales">Mentions légales</a>
    </div>
</footer>