<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" href="{{ url_for('static',filename='assets/favicon.png') }}" type="image/png">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/header_style.css') }}"/>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/footer_style.css') }}"/>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/general_style.css') }}"/>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-XS0MB5PQVJ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-XS0MB5PQVJ');
</script>
