<div class="header-container">
    <div class="header">
        <a href="{{ url_for('home') }}">
            <img class="logo" src="{{ url_for('static',filename='assets/logo.png') }}" alt=""/>
        </a>
        <ul class="main-navigation" data-visible="false">
            <div class="regions-dropdown">
                <p>Régions</p>
                <div class="regions-dropdown-list">
                    <a href="/educateurs/region/Paris">Paris</a>
                    <a href="/educateurs/region/Lyon">Lyon</a>
                </div>
            </div>
            <a href="/blog">Nos Conseils</a>
            <a href="{{url_for('educateurs_list') }}" class="nav-CTA">
                <span>Décrouvrir les éducateurs</span>
            </a>
        </ul>
    </div>
</div>
<div class="mobile-nav-icon-container">
    <div class="mobile-nav-icon menu-top"></div>
    <div class="mobile-nav-icon menu-middle"></div>
    <div class="mobile-nav-icon menu-bottom"></div>
</div>