<!DOCTYPE html>
<html lang="fr">
<head>
    {% include "head.html"%}

    <title>Mon éducateur canin - l'annuaire des éducateurs canins en France</title>
    <meta name="description"
          content="Mon éducateur canin, c'est le meilleur moyen pour trouver un éducateur canin. Un annuaire qui rendra votre chien ou chiot heureux.">
    <meta name=”robots” content="index, follow">

    <!--    Facebook tags -->
    <meta property="og:url" content="https://www.mon-educateur-canin.com/"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Mon Educateur Canin"/>
    <meta property="og:description" content="Le meilleur moyen de trouver un éducateur canin partout en France"/>
    <meta property="og:image" content="https://i.imgur.com/ryQpV5J.jpg"/>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/index.css') }}"/>
</head>
<body>
{% include "header.html"%}
<div class="site-wrapper">
    <!-- Hero section -->
    <div class="hero-section-container">
        <div class="hero-section">
            <div class="hero-section-text">
                <h1>Le meilleur moyen de trouver votre éducateur canin</h1>
                <p>Vous souhaitez éduquer votre chiot ? Vous rencontrez des problèmes avec votre chien ?<br>
                    Nous vous aidons à trouver un éducateur canin proche de chez vous !</p>
                <a href="{{ url_for('educateurs_list') }}">Découvrir les éducateurs</a>
            </div>
            <div class="hero-section-image">
                <img src="/static/assets/hero-image.png" alt="Mon éducateur canin - image principal"/>
            </div>
        </div>
    </div>
    <!-- Main section -->
    <div class="main-section-container">
        <div class="main-section">
            <div class="sub-section">
                <div class="sub-section-details">
                    <img src="{{ url_for('static',filename='assets/mon-educateur-canin.jpg') }}" loading="lazy"
                         alt="Chien souriant"/>
                    <div>
                        <h2>Pourquoi faire appel à un éducateur canin ?</h2>
                        <p>
                            Bien sûr, les avantages d’un éducateur canin sont nombreux mais il permet d’avoir un chien
                            qui :<br><br>
                            – Marche en laisse parfaitement <br>
                            – Revient quand vous le rappelez <br>
                            – Ne bouge pas au restaurant ou chez des amis <br>
                            – Vous suive partout <br>
                            – Se couche ou s’assoie quand vous le lui demandez <br>
                            – Vous écoute dans toutes les situations sans lui crier dessus <br>
                            – Soit votre complice de tous les jours <br><br>
                            Avec Mon éducateur canin, vous trouverez le professionnel de l’éducation canine et du
                            dressage
                            des chiens utilisant une méthode respectueuse la plus adaptée à votre chien !
                        </p>
                    </div>
                </div>
            </div>
            <div class="sub-section">
                <div class="sub-section-details">
                    <img src="https://i.imgur.com/WILsxnI.jpg" loading="lazy" alt="Chien avec son maitre"/>
                    <div>
                        <h3>Accueillir un chiot</h3>
                        <p>L’arrivée d’un chiot peut être délicate, mais l’éducateur canin est là pour vous aider et
                            vous
                            faciliter la vie. Quelques cours de dressage de base vous permettrons d’avoir un chiot
                            serein
                            dans ses pattes !</p>
                        <h3>Adapté à votre chien</h3>
                        <p>Novice ou perfectionné, les méthodes d’éducations canines seront adaptés à votre chien. Rien
                            de
                            tel qu’un éducateur canin comportementaliste pour composer des programmes complets
                            d’éducations
                            canine spécifiques à votre chien. Vous verrez, vous vous amuserez et votre chien aussi !</p>
                        <h3>Développez votre complicité maître - chien</h3>
                        <p>L’éducateur canin sera là pour favoriser la complicité du couple maître-chien pour qu’ils
                            puissent se comprendre. Aux travers de différents ordres et communication, il va favoriser
                            l’harmonie nécessaire à un bon fonctionnement du maître avec son chien. Lors des cours
                            d’éducations canines les interactions avec votre chien ont toutes un but précis et seront
                            travaillées avec votre éducateur canin.</p>
                    </div>
                </div>
            </div>
            <div class="sub-section">
                <div class="sub-section-details">
                    <img src="https://i.imgur.com/XkNwpnt.jpg" loading="lazy" alt="Chien regardant vers le ciel"/>
                    <div>
                        <div>
                            <h2>Votre éducateur canin, partout en France</h2>
                            <p>
                                Vous recherchez un éducateur canin comportementaliste dans une région en particulier ?
                                Vous
                                êtes au bon endroit pour éduquer votre chiot ou votre chien en France.<br>
                            </p>
                        </div>
                        <div class="educateur-region-buttons">
                            <a href="/educateurs/region/Paris">Voir les éducateurs à Paris</a>
                            <a href="/educateurs/region/Lyon">Voir les éducateurs à Lyon</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FAQ -->
    <div class="faq-container">
        <ul class="faq">
            <h2>Les questions fréquentes sur l'éducation canine</h2>
            <li>
                <h3 class="question">
                    Pourquoi faut - il éduquer son chien ?
                    <div class="plus-minus-toggle collapsed"></div>
                </h3>
                <div class="answer">
                    La première chose à savoir, c’est qu’il n’est jamais trop tard pour éduquer son chien ou son chiot
                    qui a
                    grandi !<br/>
                    Evidemment, les chiens sont capables de ressentir nos émotions et notre comportement. Il faut savoir
                    que
                    votre chien n’est motivé que par une seule chose : vous rendre heureux et passer du temps avec vous.
                    Bien sûr, tout le monde veut un chien attaché à son propriétaire, amical et obéissant c’est pourquoi
                    son
                    éducation est importante.<br/>
                    Vivre avec un chien éduqué, c’est la promesse de passer de super moment avec lui ! L’éducation de
                    votre
                    chien permet également de prévenir le danger. Un exemple tout bête, en marchant, si votre chien voit
                    un
                    chat au loin et veut le chasser, lui apprendre quelques ordres et exercices de base peuvent vous
                    aider à
                    le contrôler.<br/>
                    Tout comme son ancêtre, le loup, lorsqu’un chien arrive dans une famille il va chercher à comprendre
                    le
                    fonctionnement mais aussi chercher sa place. Pour qu’il soit ainsi pleinement épanoui dans sa
                    nouvelle
                    famille, votre compagnon doit pouvoir compter sur un maître qui est rassurant et aimant, auquel il
                    peut
                    faire entièrement confiance et qui se positionne en tant que leader.<br/>
                    Mais quoi de mieux que passer du temps avec votre chien au travers des apprentissages que vous lui
                    apporterez ? Tout cela n’aura qu’un seul effet : renforcer votre complicité !<br/>
                    En donnant sa juste place à votre compagnon, vous assurerez sa sécurité mais vous développerez aussi
                    votre complicité grâce au temps que vous lui accorderez, tout en étant accompagné par un
                    professionnel
                    de l’éducation canine.
                </div>
            </li>
            <li>
                <h3 class="question">
                    Combien coûte en moyenne une séance d'éducation canine ?
                    <div class="plus-minus-toggle collapsed"></div>
                </h3>
                <div class="answer">Tout dépend du travail qu’il y a à effectuer et le programme d’éducation canine à
                    effectuer. En moyenne, il faut compter pour des séances de deux heures, entre 50 et 100 euros.
                </div>
            </li>
            <li>
                <h3 class="question">
                    Comment faire pour éduquer son chiot ou son chien ?
                    <div class="plus-minus-toggle collapsed"></div>
                </h3>
                <div class="answer">
                    Tout ce que vous avez à faire est de suivre quelques leçons de base de dressage ou d’éducation
                    canine,
                    d’établir des règles simples chaque jour et, surtout, de vous armer d’assez de patience.<br/>
                    En fin de compte, c’est un effort d’équipe qui ne dépend pas de l’âge ou de la race du chien, mais
                    de
                    votre amour pour votre chien.<br/>
                    Il existe une multitude de techniques d’éducation ou d’apprentissage.
                </div>
            </li>
            <li>
                <h3 class="question">
                    Quels sont les ordres de base que mon chien doit connaître ?
                    <div class="plus-minus-toggle collapsed"></div>
                </h3>
                <div class="answer">
                    Le <strong>Assis</strong> : pour apprendre à votre canin à se poser mais aussi à se recentrer sur
                    vous.<br/>
                    Le <strong>Coucher</strong> : pour apprendre à votre canin à rester plus longtemps qu’en position
                    assis.<br/>
                    Le <strong>Pas Bouger</strong> : pour apprendre à votre canin à rester en statique lorsque vous lui
                    demandez à tout moment.<br/>
                    Le <strong>Rappel</strong> : pour que votre canin puisse être libre et qu’il revienne quand vous le
                    lui
                    demandez.<br/>
                    Le <strong>Pas toucher</strong> : pour apprendre à votre canin à renoncer, n’oubliez pas que «
                    renoncer,
                    c’est gagner ».<br/>
                    Pour apprendre ces quelques exercices, les éducateurs canins comportementalistes possèdent de
                    nombreux
                    conseils, qu’ils seront ravis de partager.
                </div>
            </li>
            <li>
                <h3 class="question">
                    Quels jeux pour mon chien ?
                    <div class="plus-minus-toggle collapsed"></div>
                </h3>
                <div class="answer">
                    Une multitude de jeux existe pour votre chien ou chiot ! Nous vous dirons que la seule limite n’est
                    que
                    votre imagination. Par exemple, rien qu’avec une bouteille en plastique, on peut fabriquer les
                    meilleurs
                    jouets pour votre chien.<br/>
                    Il faut savoir que la dépense la plus fatigante pour un chien est celle où il doit réfléchir, son
                    cerveau est tellement sollicité que les bras de Morphée arriveront très vite après ce type
                    d’exercice.<br/>
                    Voici pour vous quelques exemples de jeux :<br/>
                    – le cache – cache : se cacher pour qu’il vous retrouve<br/>
                    – le jeu de piste : cacher des croquettes pour qu’il les retrouve<br/>
                    – les jeux sportifs : lancer la balle ou un Frisbee<br/>
                    – les jeux de réflexion : comment faire sortir les croquettes d’une bouteille trouée ?<br/>
                    – les exercices d’éducation : assis, couché etc..
                </div>
            </li>
            <li>
                <h3 class="question">
                    Quels sports canins puis-je faire avec mon chien ?
                    <div class="plus-minus-toggle collapsed"></div>
                </h3>
                <div class="answer">
                    Beaucoup d’activités sportives peuvent être effectuées avec votre chien dans l’idéal à partir de 1
                    an
                    :<br/>
                    – Cani-cross<br/>
                    – Cani – VTT<br/>
                    – Cani – Trottinette<br/>
                    – Cani – paddle<br/>
                    – L’agility<br/>
                    – L’obérythmée<br/>
                    – Le pistage<br/>
                    Une multitude d’événements sont organisés tout au long de l’année par des clubs canins alors
                    n’hésitez
                    pas à regarder autour de chez vous ou sur les sites d’événements canins.
                </div>
            </li>
        </ul>
    </div>
    {% include "footer.html"%}
</div>
</body>
<script src="{{url_for('static', filename='js/index.js')}}"></script>
<script src="{{url_for('static', filename='js/header.js')}}"></script>
</html>
