.blog-page-header-container {
    background-color: var(--main-turquoise);
}

.blog-page-header {
    max-width: var(--sections-max-width);
    margin: 0 auto;
    padding: 60px var(--section-padding);
    color: var(--off-white);
    text-align: center;
}

.blog-page-header h1 {
    font-size: 3rem;
}
