.contact-form-header-container {
    background-color: var(--main-turquoise);
}

.contact-form-header {
    max-width: 800px;
    margin: 0 auto;
    padding: 60px var(--section-padding);
}

.contact-form-header h1,
.contact-form-header p {
    text-align: center;
    margin-bottom: 20px;
}

.contact-form-header h1 {
    color: var(--off-white);
    font-size: 3rem;
}

.contact-form-header p {
    color: var(--off-white);
    font-size: 1.2rem;
    font-weight: 200;
}

form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 70px var(--section-padding);
}

form .form-field {
    position: relative;
    /*width: 100%;*/
    /*flex: 1 0 100%;*/
}

form .form-field input,
form .form-field textarea,
form .form-field select {
    border: 1px solid #b7b7b7;
    padding: 13px 10px 10px 10px;
    border-radius: 6px;
    box-sizing: border-box;
    width: 100%;
}


form .form-field input::placeholder,
form .form-field textarea::placeholder {
    color: white;
}

form .form-field select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: white;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    color: var(--dark-grey);
}

form .form-field input:focus,
form .form-field textarea:focus,
form .form-field select:focus {
    outline: none;
    border-color: var(--dark-turquoise);
    box-shadow: none;
}

form .form-field label {
    position: absolute;
    left: 10px;
    top: 12px;
    background-color: white;
    color: var(--light-grey);
    font-size: 1rem;
    padding: 1px 3px 1px 1px;
    transition: all .2s ease-in-out;
}

form .form-field label:hover {
    cursor: text;
}

form .form-field input:focus + label,
form .form-field input:valid + label,
form .form-field input:required:invalid:not(:placeholder-shown) + label,
form .form-field select + label {
    left: -5px;
    top: -12px;
    color: var(--dark-turquoise);
    font-size: .8rem;
}

form .form-field textarea:focus + label,
form .form-field textarea:valid + label,
form .form-field textarea:required:invalid:not(:placeholder-shown) + label {
    left: -5px;
    top: -12px;
    color: var(--dark-turquoise);
    font-size: .8rem;
}

form #message {
    height: 150px;
}

form input[type="submit"] {
    width: 140px;
    text-align: center;
    padding: 10px 0;
    border-radius: 300px;
    border: 1px solid var(--dark-turquoise);
    color: var(--dark-turquoise);
}

form input[type="submit"]:hover {
    cursor: pointer;
}