@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
	--off-white: #fbfbfb;
	--off-white-darker: #f2f2f2;
	--main-turquoise: #1b9a97;
	--main-turquoise-hover: #22aca9;
	--dark-turquoise: #185e5c;
	--dark-turquoise-hover: #267371;
	--light-turquoise: #e4ecec;
	--light-turquoise-hover: #cedbdb;
	--sand: #f5c36e;
	--dark-grey: #353535;
	--light-grey: #6a6a6a;
	--btn-padding: 8px 15px;
	--sections-max-width: 1200px;
	--tablet-break-point: 1200px;
	--mobile-break-point: 850px;
	--section-padding: 20px;
}

*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

body {
	font-family: 'Poppins', sans-serif;
	/*background-color: #F2FBF6;*/
}

h1 {
	text-align: center;
}

a {
	text-decoration: none !important;
}

input {
  all: unset;
}