.legal_mentions {
    max-width: 900px;
    margin: 50px auto;
    padding: var(--section-padding);
}

.legal_mentions h1 {
    color: var(--dark-turquoise);
    margin-bottom: 40px;
}

.legal_mentions p {
    font-size: 1.1rem;
    color: var(--dark-grey);
    margin-bottom: 20px;
}

.legal_mentions h2 {
    color: var(--dark-turquoise);
    margin: 50px 0 10px 0;
}